# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/backup/**
**/node_modules/**
**/.pnp/**
.pnp.js

# testing
**/coverage/**

# production
**/build/**

# Custom files
About (with class function).js
Success.js
Error.js
burger.css
BurgerMenu.js
Firebase.js
config.js

#Firebase

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
*.firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
*.tgz
.npm
**/.firebase/**
index.html-webpack
package.json--webpack
.babelrc
webpack.config.js