.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(0, 0, 0);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 360px;
  top: 306px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgba(0, 0, 0);
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 255, 255);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
