/* Style reset starts */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove (inner) paddings */
body {
  padding: 0;
}

body,
ul,
ol {
  padding: 0;
}

/* remove (outer) margins */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* defaul settings for body */
body, html {
  line-height: 1.5;
  min-height: 100vh;
}

/* remove default styles for ul and ol */
ul,
ol,
li {
  /* line-height: 1; */
  list-style: none;
}

/* simplify img managing */
img {
  display: block;
  max-width: 100%;
}

/* point a clear periodicity to an article in the flow*/
article > * + * {
  margin-top: 1em;
}

/* inherited fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Style reset ends */

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

body {
  font-family: "Merriweather";
  position: relative;
  /* color: rgba(47, 47, 47, 1); */
  /* background: rgb(246, 246, 246) center center no-repeat; */
  /* background: -webkit-linear-gradient(160deg, rgba(246, 246, 246, 1) 15%, rgba(255, 255, 255, 1) 15%) center center no-repeat; */
  /* background: -o-linear-gradient(190deg, rgba(246, 246, 246, 1) 15%, rgba(255, 255, 255, 1) 15%) center center no-repeat; */
  /* background: linear-gradient(290deg, rgba(246, 246, 246, 1) 15%, rgba(255, 255, 255, 1) 15%) center center no-repeat; */
  /* background-size: cover; */
  /* -moz-background-size: cover; */
  /* -webkit-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-attachment: fixed; */
}

/* #root {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
} */

#root {
  display: grid;
    display: -ms-grid;
  grid-template-areas:
    "header header header"
    "asideLeft main asideRight"
    "footer footer footer";
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h2, h1 {
  font-family: 'Roboto Slab', 'Nunito', serif;
  text-transform: uppercase;
}

.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba( 255, 255, 255, 0.5 );
}

.Modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20%;
  background-color: rgba( 255, 255, 255, 1 );
  border: 1px solid rgba( 220, 220, 220, 1 );
  border-radius: 5px;
}

.Modal span {
  color: rgb( 255, 99, 71 )
}

.Modal:focus {
  outline: none;
}

#nprogress .bar {
  background: rgba(70,130,180) !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px rgba(70,130,180), 0 0 5px rgba(70,130,180) !important;
}
#nprogress .spinner-icon {
  border-left-color: rgba(70,130,180) !important;
  border-top-color: rgba(70,130,180) !important;
}

@media (min-width: 375px) and (max-width: 767px) {
  #root {
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 374px) {
  #root {
    grid-template-columns: 5% 90% 5%;
  }
}
